
header{
    font-size: 20px;
    text-align: center;
}

.finnpose img{
    float: left;
    max-width: 100%;
    margin: auto;
}

.finnstats{
    text-align: center;
}
ul li{
    font-size: 20px;
    line-height: 3em;
    list-style-type: none;
}
.deez{
    display: block;
    max-width: 100%;
    margin: auto auto;
}
.white {
    background-color: black;
    color: white;
}
.brown {
    color: brown;
}